.itemActionButton {
    border-radius: 5px;
    border-color: #fff;
    float: right;
    width: auto;
    height: 40px;
    margin: 5px 40px 5px 5px;
    background-color: transparent;
    color: #fff;
    padding: 0 20px;
}